
*.ltn linguist-detectable=true
*.ltn linguist-language=text
*asm.ltn linguist-detectable=true
*asm.ltn linguist-language=assembly

*.hex.ltn linguist-detectable=false
*.bin.ltn linguist-detectable=false
